    <link rel="stylesheet" href="css/admin/admincontrols.css">
    <%- include('./admin-navbar-home') %>
    


    <div class="categories-card">
        <h1 style="text-align: center;">Admin Controls</h1>
        <div class="categories-row">
      <a  href="/admin/users"><div class="categories-column " >
        <img src="https://img.icons8.com/ios/100/null/admin-settings-male.png"  alt="manageuser" style="width:50%">
        
          <p>Manage Users</p>  
      </div></a>
      <a  href="/admin/addproductpage"><div class="categories-column" >
        <img src="https://img.icons8.com/ios/100/null/plus-2-math.png"  alt="addnewproduct" style="width:40%">
          <p>Add New Product</p>
      </div></a>
      <a  href="/admin/productcategories"><div class="categories-column" >
        <img src="https://img.icons8.com/windows/96/null/pen-squared.png"  alt="manageproduct" style="width:40%">
          <p>Manage Products</p>
      </div></a>

      <a  href="/admin/allorders"><div class="categories-column" >
        <img src="https://img.icons8.com/dotty/80/null/purchase-order.png"  alt="manageproduct" style="width:40%">
          <p>Manage Orders</p>
      </div></a>
      
</div>
<!-- <%- include('../footer') %> -->
</body>


