.categories-card{
    width: 60%;
    height: 430px;
    margin:auto;
    margin-top: 20px;
    /* box-shadow: 0px 0px 2px gray; */
    position: relative;
    top: 0;
    
  }
  .categories-card h1{
    font-family: 'Raleway', sans-serif;
  }
  .categories-card p{
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
  }

  .categories-row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }


  .categories-column {
    /* Add shadows to create the "card" effect */
    
    transition: 0.3s;
    height: 100px;
    width: 200px;
    float: left;
    position: relative;
    column-gap: 50px;
    text-align: center;
    border-radius: 20px;
    
  }
  .categories-row a{
    color: inherit;
    text-decoration: inherit;
  }
  
  /* On mouse-over, add a deeper shadow */
  .categories-column:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */

  /* .categories-column p {
    margin-left: 30px;
    position: relative;
  } */
  .categories-column img {
    
    width: auto;
    height: auto;
  }

 